.cupcake {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 6rem;
  z-index: 1;
  margin-right: 0.5rem;
  font-size: 1.8rem;
  transition: 0.3s;
  cursor: pointer;
}

@media (min-width: 768px) {
  .cupcake {
    width: 8rem;
    height: 8rem;
  }
}
