.container {
  width: 100%;
  height: 40%;
  background-color: var(--color-red);
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.container h1 {
  text-align: center;
  color: white;
  font-size: var(--h1-xsm-size);
  text-transform: uppercase;
  padding: 1rem;
  border-bottom: 2px dotted rgba(255, 255, 255, 0.811);
}

.cupcakes_container {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1rem;
  transition: 0.3s;
  height: 50%;
}

.cupcakes_container_over {
  background-color: rgba(0, 0, 0, 0.3);
}

@media (min-width: 768px) {
  .container h1 {
    font-size: var(--h1-lg-size);
    padding: 1.5rem;
  }
}

@media (orientation: landscape) {
  .container {
    width: 100%;
    min-height: 30rem;
  }
}
